In [1]:
#1) Write a program to reverse a string.

In [10]:
input_string = input("Enter a String: ")

print("Original string = {}".format(input_string))
print("-"*20)
print("Reversed String = {}".format(input_string[::-1]))

Enter a String:  PWSkills

Original string = PWSkills
--------------------
Reversed String = sllikSWP

In [11]:
#2) Check if a string is a Palindrome

In [15]:
input_string = input("Enter a string: ").lower()

if input_string == input_string[::-1]:
    print("The string is Palindrome.")
else:
    print("the string is not Palindrome.")

Enter a string:  Dad

The string is Palindrome.

In [16]:
#3) Convert a string to Uppercase.

In [19]:
str = input("Enter a String:")

caps = str.upper()

print("The Uppercase of the string is",caps)

Enter a String: Pwskills

The Uppercase of the string is PWSKILLS

In [20]:
#4) Covert a string to lowercase.

In [22]:
str = input("Enter a String:")

smals = str.lower()

print("The Uppercase of the string is",smals)

Enter a String: Data Science

The Uppercase of the string is data science

In [23]:
#5) Count the numbers of vowels in a string.

In [3]:
def count_vowels(str):
    vowel_count = 0
    vowels = set("aeiouAEIOU")
    
    for char in str:
        if char in vowels:
            vowel_count +=1
    return vowel_count

#main program
input_string = input("Enter a string: ")
result = count_vowels(input_string)
print("Number of vowels = {}".format(result))

Enter a string:  WATERMelon

Number of vowels = 4

In [4]:
#6) Count the number of Consonants in string

In [7]:
def count_consonants(str):
    cons_count = 0
    consonants = set("aeiouAEIOU")
    
    for char in str:
        if char not in consonants:
            cons_count +=1
    return cons_count

#main program
input_string = input("Enter a string: ")
result = count_consonants(input_string)
print("Number of Consonants = {}".format(result))

Enter a string:  PWSkills

Number of Consonants = 7

In [8]:
#7) Remove all whitespaces from a string

In [6]:
def whitespaces(input_string):
    result = ""
    
    for val in input_string:
        if val != " ":
            result += val
    return result 


#main program 
input_string = input("Enter string value: ")
final=whitespaces(input_string)
print(final)

Enter string value:  Removed all Whitespaces from a string.

RemovedallWhitespacesfromastring.

In [7]:
#8) Find the length of a string without using the `len()` function.

In [8]:
input_string = input("Enter a sentence: ")

count = 0

for val in input_string:
    count += 1
    
print("The length of sentence is {}".format(count))

Enter a sentence:  Found the length.

The length of sentence is 17

In [9]:
#9) Check if a string contains a specific word.

In [12]:
string = input("Enter a sentence: ").lower()
specific_word = input("Enter the word you want to check for: ").lower()

if specific_word in string:
    print("The {} word is PRESENT in the given string.".format(specific_word))
else:
    print("The {} word is NOT PRESENT in the given string.".format(specific_word))

Enter a sentence:  Data Science ia subject in which we play with Data.
Enter the word you want to check for:  science

The science word is PRESENT in the given string.

In [13]:
#10) Replace a word in a string with another word.

In [19]:
a = input("Enter a sentence:")

word = input("Enter the word you want to replace:")
new_word = input("Enter the word:")

new_a = a.replace(word,new_word)

print(new_a)

Enter a sentence: ImPerfect is an Illusion.
Enter the word you want to replace: ImPerfect
Enter the word: Perfect

Perfect is an Illusion.

In [20]:
#11) Count the occurrences of a word in a string.

In [4]:
def word_occurence(input_string, input_word):
    word_count = 0
    words = input_string.split()
    
    for word in words:
        if word == input_word:
            word_count += 1
    return word_count

#main program
input_string = input("Enter a sentence: ").lower()

input_word = input("Enter the word for you want to check the occurence:").lower()

#function call
result = word_occurence(input_string, input_word)
print("The '{}' occurs '{}' times in input_string".format(input_word,result))

Enter a sentence:  Twinkle twinkle little star
Enter the word for you want to check the occurence: twinkle

The 'twinkle' occurs '2' times in input_string

In [5]:
#12) Find the first occurrence of a word in a string.

In [18]:
input_string = input("Enter a string:")
input_word = input("Enter the word:")

index = input_string.find(input_word)

if index != -1:
    print("The first occurence of {} starts at {}".format(input_word,index))
else:
    print("{} not found in input_string.".format(input_word))

Enter a string: This is an example sentence. This sentence contains the word example.
Enter the word: example

The first occurence of example starts at 11

In [19]:
#13) Find the last occurrence of a word in a string.

In [20]:
input_string = input("Enter a string:")
input_word = input("Enter the word:")

index = input_string.rfind(input_word)

if index != -1:
    print("The last occurence of {} starts at {}".format(input_word,index))
else:
    print("{} not found in input_string.".format(input_word))

Enter a string: This is an example sentence. This sentence contains the word example.
Enter the word: example

The first occurence of example starts at 61

In [22]:
#14) Split a string into a list of words.

In [1]:
def spliter(input_string):
    list = input_string.split()
    return list

#main program
input_string = "this is an exmaple"
done = spliter(input_string)
print("list of words: {}".format(done))

list of words: ['this', 'is', 'an', 'exmaple']

In [2]:
#15) Join a list of words into a string.

In [3]:
def joiner(input_list):
    words = ' '.join(input_list)
    return words

#main program
input_list = ["Hello", "Everyone", "a", "very", "Enthusiastic", "morning", "to", "you", "all."]
result = joiner(input_list)
print("The Joined String is : {}".format(result))

The Joined String is : Hello Everyone a very Enthusiastic morning to you all.

In [4]:
#16) Convert a string where words are separated by spaces to one where words are separated by underscores.

In [5]:
def underscores(string):
    initial_result = string.replace(" ", "_")
    return initial_result

#main program
word = "The words spaces has been replaced by underscores."
final_result = underscores(word)
print("Separated Result is :",final_result)

Separated Result is : The_words_spaces_has_been_replaced_by_underscores.

In [6]:
#17) Check if a string starts with a specific word or phrase.

In [12]:
def checker(string):
    if string.startswith(specific_word):
        print("The text starts with the given specific_word.")
    else:
        print("The text doesn't starts with the given specific_word.")

#main program
string = input("Enter a string:").lower()
specific_word = input("Enter the specific_word:").lower()
result = checker(string)

Enter a string: Hello World
Enter the specific_word: hello

The text starts with the given specific_word.

In [13]:
#18) Check if a string ends with a specific word or phrase.

In [16]:
def checker(string):
    if string.endswith(specific_word):
        print("The text ends with the given specific_word.")
    else:
        print("The text doesn't ends with the given specific_word.")

#main program
string = input("Enter a string:").lower()
specific_word = input("Enter the specific_word:").lower()
result = checker(string)

Enter a string: Hello World
Enter the specific_word: world

The text ends with the given specific_word.

In [17]:
#19) Convert a string to title case (e.g., "hello world" to "Hello World").

In [18]:
text = "python is an oop language."

result = text.title()

print(result)

Python Is An Oop Language.

In [19]:
#20) Find the longest word in a string.

In [2]:
def find_longest_word(string):
    words = string.split()
    longest_word = " "
    max_length = 0
    
    for word in words:
        if len(word)>max_length:
            max_length = len(word)
            longest_word = word
    return longest_word

#main program
string = "This is an example string."
result = find_longest_word(string)
print("Longest Word is : '{}'".format(result))

Longest Word is : 'example'

In [3]:
#21) Find the shortest word in a string.

In [3]:
def find_word(string):
    words = string.split()
    shortest_word = None
    min_length = float('inf')
    
    for word in words:
        if len(word)<min_length:
            min_length = len(word)
            shortest_word = word
    return shortest_word

#main program
string = "This is an example string."
result = find_word(string)
print("Shortest Word is : '{}'".format(result))

Shortest Word is : 'is'

In [4]:
#22) Reverse the order of words in a string.

In [5]:
def reverse_words(input_string):
    words = input_string.split()
    
    reversed_words = words[::-1]

    reversed_string = ' '.join(reversed_words)

    return reversed_string

# Example usage
input_string = "This is a sample sentence"
result = reverse_words(input_string)
print("Reversed words:", result)

Reversed words: sentence sample a is This

In [6]:
#23) Check if a string is alphanumeric.

In [24]:
def is_alphanumeric(input_string):
    return input_string.isalnum()

# main program
string1 = "Hello123"

print("{} is alphanumeric: {}".format(string1,is_alphanumeric(string1)))

Hello123 is alphanumeric: True

In [25]:
#24) Extract all digits from a string.

In [26]:
def extract_digit(input_string):
    return [val for val in input_string if val.isdigit()]

#main program
text = "abc 123 def 456 ghi"
result = extract_digit(text)
print("Extracted digits are: {}".format(result))

Extracted digits are: ['1', '2', '3', '4', '5', '6']

In [27]:
#25) Extract all alphabets from a string.

In [29]:
def extract_alpha(input_string):
    return [val for val in input_string if val.isalpha()]

#main program
text = "Guido van Rossum 16"
result = extract_alpha(text)
print("Extracted Alphabets are: {}".format(result))

Extracted Alphabets are: ['G', 'u', 'i', 'd', 'o', 'v', 'a', 'n', 'R', 'o', 's', 's', 'u', 'm']

In [30]:
#26) Count the number of uppercase letters in a string.

In [13]:
def count_upper(input_string):
    return sum(1 for val in input_string if val.isupper())

#main program 
text = "Guido Van Rossum"
result = count_upper(text)
print("The uppercase letters in ths string is: {}".format(result))

The uppercase letters in ths string is: 3

In [14]:
#27) Count the number of lowercase letters in a string.

In [18]:
def count_lower(input_string):
    return sum(1 for val in input_string if val.islower())
#main program 
text = "PWSkills is a platform where we can endure our Skills."
result = count_lower(text)
print("The lowercase letter in the string is: {}".format(result))

The lowercase letter in the string is: 40

In [19]:
#28) Swap the case of each character in a string.

In [24]:
"""original_string = "Hello! World"

new_string = original_string.swapcase()

print(new_string)"""

def swap_case(input_string):
    new_string = input_string.swapcase()
    return new_string
#main program
text = "Hello world"
result = swap_case(text)
print("The Swapped case is {}".format(result))

The Swapped case is hELLO WORLD

In [25]:
#29) Remove a specific word from a string.

In [12]:
def removing_word():
    new_string = input_string.replace(specific_word,"")
    return new_string

#main program
input_string = "Slum Golf is a Game."
specific_word = "Slum"
result = removing_word()
print("The removed string is now this: {}".format(result))

The removed string is now this:  Golf is a Game.

In [13]:
#30) Check if a string is a valid email address.

In [17]:
import re  # Imported the regular expression module

def valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email_1 = "vicky.kumarr.yadav@gmail.com"
email_2 = "rehaan-@email"
result_1 = valid_email(email_1)
result_2 = valid_email(email_2)
print(result_1)
print(result_2)

True
False

In [18]:
#31) Extract the username from an email address string.

In [21]:
email_address = input("Enter a valid email address:")

username = email_address.split('@')[0]

print("Username :",username)

Enter a valid email address: vickyyadav@gmail.com

Username : vickyyadav

In [22]:
#32) Extract the domain name from an email address string.

In [24]:
email_address = input("Enter a valid email address:")

username = email_address.split('@')[-1]

print("Username :",username)

Enter a valid email address: rehaan@outlook.com

Username : outlook.com

In [25]:
#33) Replace multiple spaces in a string with a single space.

In [28]:
text = "This    is a   string   with   multiple     spaces."

new_text = ' '.join(text.split())

print("The oroginal text is: ",text)
print("The removed multiple space text is: ",new_text)

The oroginal text is:  This    is a   string   with   multiple     spaces.
The removed multiple space text is:  This is a string with multiple spaces.

In [31]:
#34) Check if a string is a valid URL. (this answer is copied from the given resource, but it developed me the knowledge of this question.)

In [30]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [ ]:
#35) Extract the protocol (http or https) from a URL string.

In [ ]:
#1st method

url = input("Enter a valid URL:")

protocol = url.split(':')[0]

print("Protocol :",protocol)

Enter a valid URL: https://www.example.com

Protocol : https

In [35]:
#2nd method

def extract_protocols(url):
    protocol = url.split(':')[0]
    return protocol

#main program
url_1 = "https://www.google.com"
url_2 = "ftp://ftp.server.com"
url_3 = "http://www.pwskilss.com"

#function calling
result_1 = extract_protocols(url_1)
result_2 = extract_protocols(url_2)
result_3 = extract_protocols(url_3)

#print the result
print(result_1)
print(result_2)
print(result_3)

https
ftp
http

In [36]:
#36) Find the frequency of each character in a string.

In [40]:
def frequency_count(input_string):
    frequency = {} #empty dict
    for char in input_string:
        if char in frequency:
            frequency[char] +=1
        else:
            frequency[char] = 1
    return frequency

#main program 
input_string = input("enter a string:")

#function call
freq_count = frequency_count(input_string)

for char, freq in freq_count.items():
    print("Character:'{}', frequency:{}".format(char,freq))

enter a string: Hello World

Character:'H', frequency:1
Character:'e', frequency:1
Character:'l', frequency:3
Character:'o', frequency:2
Character:' ', frequency:1
Character:'W', frequency:1
Character:'r', frequency:1
Character:'d', frequency:1

In [41]:
#37) Remove all punctuation from a string. ( This answer is copied fro the resource but it i developed the knowledge of string module)

In [42]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [43]:
#38) Check if a string contains only digits.

In [47]:
def is_digit(input_string):
    if input_string.isdigit():
        return True
    else:
        return False

#main program
input_string_1 = "Hello123"
input_string_2 = "45896"
result_1 = is_digit(input_string_1)
result_2 = is_digit(input_string_2)
print(result_1)
print(result_2)

False
True

In [48]:
#39) Check if a string contains only alphabets.

In [51]:
def alphabets(input_string):
    return input_string.isalpha()

#main program
input_string_1 = "Hello123"
input_string_2 = "PWSkills"
result_1 = alphabets(input_string_1)
result_2 = alphabets(input_string_2)
print(result_1)
print(result_2)

False
True

In [52]:
#40) Convert a string to a list of characters.

In [2]:
def string_list(input_string):
    new_list = list(input_string)
    return new_list

#main program
input_string = "hello world!"
result = string_list(input_string)
print("The list of characters are:{}".format(result))

The list of characters are:['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [3]:
#41) Check if two strings are anagrams.

In [10]:
def anagrams(a,b):                       #anagrams are the words that are created by rearranging the letters of another word. 
    a = a.replace(" ","").lower()
    b = b.replace(" ","").lower()
    
    return sorted(a) == sorted(b)

#main program 
str1 = "triangle"
str2 = "integral"
str3 = "mother"
str4 = "father"
str5 = "care"
str6 = "race"

#function call
result_1 = anagrams(str1,str2)
result_2 = anagrams(str3,str4)
result_3 = anagrams(str5,str6)

#printing result
print("{} and {} are anagrams: {}".format(str1,str2,result_1))
print("{} and {} are anagrams:     {}".format(str3,str4,result_2))
print("{} and {} are anagrams:         {}".format(str5,str6,result_3))

triangle and integral are anagrams: True
mother and father are anagrams:     False
care and race are anagrams:         True

In [11]:
#42) Encode a string using a Caesar cipher.

In [15]:
def caesar_cipher(text, shift):
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: khoor, zruog!

In [13]:
#43) Decode a Caesar cipher encoded string.

In [16]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "khoor, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: hello, world!

In [17]:
#44) Find the most frequent word in a string.

In [1]:
input_string = "This is a sample string with some repeated words. This string has some words that occur more than once."

# Split the string into words
words = input_string.split()

# Initialize a dictionary to store word frequencies
word_counts = {}

# Count the frequency of each word
for word in words:
    # Remove punctuation if needed
    word = word.strip(".,!?")
    
    # Convert the word to lowercase to ensure case-insensitivity
    word = word.lower()
    
    # Update the word count in the dictionary
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

# Find the most frequent word
most_frequent_word = max(word_counts, key=word_counts.get)

# Print the result
print("The most frequent word is:", most_frequent_word)
print("Its frequency is:", word_counts[most_frequent_word])

The most frequent word is: this
Its frequency is: 2

In [2]:
#45) Find all unique words in a string.

In [3]:
input_string = "This is a sample string with some repeated words. This string has some words that occur more than once."

# Split the string into words
words = input_string.split()

# Initialize a set to store unique words
unique_words = set()

# Add each word to the set
for word in words:
    # Remove punctuation if needed
    word = word.strip(".,!?")
    
    # Convert the word to lowercase to ensure case-insensitivity
    word = word.lower()
    
    # Add the word to the set
    unique_words.add(word)

# Convert the set to a list if needed
unique_words_list = list(unique_words)

# Print the result
print("Unique words in the string:", unique_words_list)

Unique words in the string: ['more', 'words', 'string', 'sample', 'with', 'repeated', 'a', 'is', 'that', 'than', 'has', 'once', 'some', 'this', 'occur']

In [12]:
#47) Check if a string contains any special characters.

In [14]:
def contains_special_characters(input_string):
    # Define the set of allowed characters (letters and digits)
    allowed_characters = set("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789")

    # Check if any character in the string is not in the allowed set
    for char in input_string:
        if char not in allowed_characters:
            return True  # The string contains a special character

    return False  # The string does not contain any special characters

# Sample string
input_string = "This is a sample string with some special characters: @, #, $, %."

# Check if the string contains special characters
contains_special = contains_special_characters(input_string)

# Print the result
if contains_special:
    print("The string contains special characters.")
else:
    print("The string does not contain any special characters.")

The string contains special characters.

In [ ]:
#48) Remove the nth word from a string.

In [18]:
def remove_nth_word(input_string, n):

    words = input_string.split()

    if 1 <= n <= len(words):
        del words[n - 1]

        result_string = ' '.join(words)

        return result_string
    else:
        return input_string

# Sample string
input_string = "This is a sample string. Let's remove the third word."

result_string = remove_nth_word(input_string, 3)

# Print the result
print("Original string:", input_string)
print("String after removing the word:", result_string)

Original string: This is a sample string. Let's remove the third word.
String after removing the word: This is sample string. Let's remove the third word.

In [19]:
#49) Insert a word at the nth position in a string.

In [20]:
def insert_word_at_position(input_string, n, new_word):
    # Split the string into words
    words = input_string.split()

    # Check if the given index is valid
    if 0 <= n <= len(words):
        # Insert the new word at the nth position
        words.insert(n, new_word)

        # Join the words back into a string
        result_string = ' '.join(words)

        return result_string
    else:
        # If the index is out of bounds, return the original string
        return input_string

# Sample string
input_string = "This is a sample string. Let's insert a word."


result_string = insert_word_at_position(input_string, 3, "new")

# Print the result
print("Original string:", input_string)
print("String after inserting a word at the fourth position:", result_string)

Original string: This is a sample string. Let's insert a word.
String after inserting a word at the fourth position: This is a new sample string. Let's insert a word.

In [21]:
#50) Convert a CSV string to a list of lists.

In [22]:
#LIST BASED PRACTICE PROBLEM

In [23]:
#1) Create a list with integers from 1 to 10.

In [25]:
lst = [i for i in range(1,11)]

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
#2) Find the length of a list without using the `len()` function.

In [30]:
input_lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
length = 0
for _ in lst:
    length += 1
    
print("the length of the list is",length)

the length of the list is 10

In [31]:
#3) Append an element to the end of a list.

In [33]:
input_lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

val = "rehaan"

input_lst.append(val)

print(input_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'rehaan']

In [34]:
#4) Insert an element at a specific index in a list.

In [38]:
lst = [1,2,3,4,5]

place = int(input("Enter the place at which you want to insert the list:"))

element_to_insert = input("Enter the value:")

lst.insert(place, element_to_insert)

print(lst)

Enter the place at which you want to insert the list: 5
Enter the value: rehaan

[1, 2, 3, 4, 5, 'rehaan']

In [39]:
#5) Remove an element from a list by its value.

In [44]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

element_to_remove = int(input("Enter the value you want to remove:"))

lst.remove(element_to_remove)

print(lst)

Enter the value you want to remove: 9

[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [43]:
#6) Remove an element from a list by its index.

In [46]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

element_to_remove = int(input("Enter the index of value you want to remove:"))

lst.pop(element_to_remove)

print(lst)

Enter the index of value you want to remove: 4

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [47]:
#7) Check if an element exists in a list.

In [49]:
lst = [1,2,3,4,5]

element_to_check = int(input("Enter the value you want to check:"))

if element_to_check in lst:
    print("Element exist in the list.")
else:
    print("Element doesn't exist in the list.")

Enter the value you want to check: 9

Element doesn't exist in the list.

In [50]:
#8) Find the index of the first occurrence of an element in a list.

In [51]:
lst = [1, 4, 5, 2, 3, 4, 5, 3, 6, 7, 8, 4, 9, 10]

find_index = 4

index = lst.index(find_index)

print(index)

1

In [1]:
#9) Count the occurrences of an element in a list.

In [2]:
lst = [1, 4, 5, 2, 3, 4, 5, 3, 6, 7, 8, 4, 9, 10]

count_index = 4

index = lst.count(count_index)

print(index)

3

In [10]:
#10) Reverse the order of elements in a list.

In [11]:
lst = [1, 4, 5, 2, 3, 4, 5, 3, 6, 7, 8, 4, 9, 10]

new_lst = lst[::-1]

print(new_lst)

[10, 9, 4, 8, 7, 6, 3, 5, 4, 3, 2, 5, 4, 1]

In [12]:
#11) Sort a list in ascending order.

In [16]:
lst = [1, 4, 5, 2, 3, 4, 5, 3, 6, 7, 8, 4, 9, 10]

n = len(lst)

for i in range(n):
    for j in range(0,n-i-1):
        if lst[j] > lst[j+1]:
            lst[j],lst[j+1] = lst[j+1], lst[j]
            
print("Ascending order is:",lst)

Ascending order is: [1, 2, 3, 3, 4, 4, 4, 5, 5, 6, 7, 8, 9, 10]

In [1]:
#12) Sort a list in descending order.

In [4]:
lst = [1, 4, 5, 2, 3, 4, 5, 3, 6, 7, 8, 4, 9, 10]

n = len(lst)

for i in range(n):
    for j in range(0,n-i-1):
        if lst[j]< lst[j+1]:
            lst[j],lst[j+1] = lst[j+1],lst[j]
print("Descending order is:",lst)

Descending order is: [10, 9, 8, 7, 6, 5, 5, 4, 4, 4, 3, 3, 2, 1]

In [5]:
#13) Create a list of even numbers from 1 to 20.

In [8]:
n = 21

for i in range(1,n):
    if i%2 == 0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [9]:
#14) Create a list of odd numbers from 1 to 20.

In [1]:
n = 21

for i in range(1,n):
    if i%2 != 0:
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [2]:
#15) Find the sum of all elements in a list.

In [9]:
lst = [1, 4, 5, 2, 3, 4, 5, 3, 6, 7, 8, 4, 9, 10]

total = 0

for i in lst:
    total += i
print("Sum of all elements = ",total)

Sum of all elements =  71

In [10]:
#16) Find the maximum value in a list

In [15]:
lst = [1, 4, 5, 2, 3, 4,10, 5, 3, 6, 7, 8, 4, 9]

max_value = lst[0]

for i in lst:
    if i > max_value:
        max_value = i

print("Maximum Value in list is :",max_value)

Maximum Value in list is : 10

In [14]:
#17) Fin dthe minimum value in a list

In [16]:
lst = [1, 4, 5, 2, 3, 4,10, 5, 3, 6, 7, 8, 4, 9]

min_value = lst[0]

for i in lst:
    if i < min_value:
        min_value = i

print("Minimum value in a list is :",min_value)

Minimum value in a list is : 1

In [17]:
#18) Create a list of squares of numbers from 1 to 10

In [23]:
lst = [num**2 for num in range(1,11)]

print("The list of Square of numbers are:",lst)

The list of Square of numbers are: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
#19) Create a list of random numbers.

In [28]:
import random 

list_length = 10

random_numbers = [random.randint(1,100) for num in range(list_length)]

print("the random list is = ",random_numbers)

the random list is =  [54, 49, 95, 33, 13, 92, 21, 14, 75, 22]

In [29]:
#20) Remove duplicates from a list

In [30]:
lst = [1, 4, 5, 2, 3, 4,10, 5, 3, 6, 7, 8, 4, 9]

unique_list = list(set(lst))

print("Original list = ",lst)
print("*"*20)
print("Removed Duplicates list =",unique_list)

Original list =  [1, 4, 5, 2, 3, 4, 10, 5, 3, 6, 7, 8, 4, 9]
********************
Removed Duplicates list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
#21) Find the common elements between two list

In [35]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

#1st method --- using set we can do like this
comon_elements = set(list1) & set(list2)

Common_list = list(comon_elements)

#2nd method ----- using list comprehension 
#Common_list = [element for element in list1 if element in list2]

print("Common elements are = ",Common_list)

Common elements are =  [3, 4, 5]

In [36]:
#22)  Find the difference between two lists.

In [41]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

#1st method --- using set we can do like this
difference_set = set(list1) - set(list2)

different_list = list(difference_set)

#2nd method ----- using list comprehension 
#different_list = [element for element in list1 if element not in list2]

print("Common elements are = ",different_list)

Common elements are =  [1, 2]

In [42]:
#23) Merge two lists.

In [49]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

merge_list = list1 + list2

#2nd method ---------- 
#list1.extend(list2)

print(merge_list)

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

In [50]:
#24) Multiply all elements in a list by 2.

In [52]:
lst = [1, 4, 5, 2, 3, 4,10, 5, 3, 6, 7, 8, 4, 9]

new_list = [i*2 for i in lst]

print(new_list)

[2, 8, 10, 4, 6, 8, 20, 10, 6, 12, 14, 16, 8, 18]

In [53]:
#25) Filter out all even numbers from a list.

In [62]:
lst = [1,4,7,8,5,2,3,6,9]

#1st method ---------------- 
even_list = [num for num in lst if num%2==0 ]

#2nd method ------ using filter
#even_list = list(filter(lambda x : x % 2 ==0, lst))

print("Even list is ",even_list)

Even list is  [4, 8, 2, 6]

In [1]:
#26)  Convert a list of strings to a list of integers.

In [4]:
string_list = ["1","2","3","4","5","6","7"]

integer_list = [int(element) for element in string_list]

print("Integer list is",integer_list)

Integer list is [1, 2, 3, 4, 5, 6, 7]

In [5]:
#27) Convert a list of integers to a list of strings

In [6]:
integer_list = [1,3,7,4,5,8,9,6]

string_list = [str(element) for element in integer_list]

print("String list is",string_list)

String list is ['1', '3', '7', '4', '5', '8', '9', '6']

In [7]:
#28) Flatten a nested list.

In [8]:
nested_list = [1, [2, 3, [4, 5]], 6, [7, 8]]

#Flatten the nested list using list comprehension and recursion
flattened_list = [item for sublist in nested_list for item in (sublist if isinstance(sublist, list) else [sublist])]

#Display the original and flattened lists
print("Nested List:", nested_list)
print("Flattened List:", flattened_list)

Nested List: [1, [2, 3, [4, 5]], 6, [7, 8]]
Flattened List: [1, 2, 3, [4, 5], 6, 7, 8]

In [9]:
#29) Create a list of the first 10 Fibonacci numbers

In [5]:
fibonacci_number = [0,1]

while len(fibonacci_number) < 10:
    next_number = fibonacci_number[-1] + fibonacci_number[-2]
    fibonacci_number.append(next_number)
    
print(fibonacci_number)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [6]:
#30) Check if a list is sorted.

In [7]:
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [3, 1, 4, 1, 5, 9, 2, 6]

# Check if the lists are sorted
is_sorted_sorted_list = all(sorted_list[i] <= sorted_list[i + 1] for i in range(len(sorted_list) - 1))
is_sorted_unsorted_list = all(unsorted_list[i] <= unsorted_list[i + 1] for i in range(len(unsorted_list) - 1))

# Display the results
print("Is the sorted list sorted?", is_sorted_sorted_list)
print("Is the unsorted list sorted?", is_sorted_unsorted_list)

Is the sorted list sorted? True
Is the unsorted list sorted? False

In [8]:
#31) Rotate a list to the left by `n` positions.

In [10]:
my_list = [1, 2, 3, 4, 5]

# Number of positions to rotate left
n = 2

# Rotate the list to the left by n positions
n %= len(my_list)  # Ensure n is within the length of the list
rotated_list = my_list[n:] + my_list[:n]

# Display the original and rotated lists
print("Original List:", my_list)
print(f"Rotated List by {n} positions to the left:", rotated_list)

Original List: [1, 2, 3, 4, 5]
Rotated List by 2 positions to the left: [3, 4, 5, 1, 2]

In [11]:
#32)  Rotate a list to the right by `n` positions.

In [13]:
my_list = [1,2,3,4,5]

n = 3

n %= len(my_list)
rotated_list = my_list[-n:] + my_list[:-n]

print("Original list:",my_list)
print(f"Rotated list by {n} positions to the right:",rotated_list)

Original list: [1, 2, 3, 4, 5]
Rotated list by 3 positions to the right: [3, 4, 5, 1, 2]

In [14]:
#33) Create a list of prime numbers up to 50

In [1]:
prime_no = []

for num in range(2,51):
    is_prime = True
    
    for i in range(2,int(num**0.5)+1):
        if num%i == 0:
            is_prime = False
            break
            
    if is_prime:
        prime_no.append(num)

print("Prime Numbers are:",prime_no)

Prime Numbers are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [2]:
#34) Split a list into chunks of size `n`.

In [3]:
lst = [1,2,3,4,5,6,7,8,9,10]

n = 3 

chunks = [lst[i:i+n] for i in range(0,len(lst),n)]

print("Original List:", lst)
print(f"List of Chunks (size {n}):", chunks)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of Chunks (size 3): [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [4]:
#35) Find the second largest number in a list

In [5]:
lst = [25,41,63,74,85,69,36,21]

sorted_list = sorted(lst, reverse = True)

second_largest = sorted_list[1]

print("Original list",lst)
print("the Second largest nmber is:",second_largest)

Original list [25, 41, 63, 74, 85, 69, 36, 21]
the Second largest nmber is: 74

In [6]:
#36) Replace every element in a list with its square

In [9]:
lst = [2,3,4,5,6,7,8,9]

new_list = [num**2 for num in lst]
    
print(new_list)

[4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
#37) Convert a list to a dictionary where list elements become keys and their indices become values.

In [13]:
lst = [25,14,36,74,85,96]

my_dict = {element : index for index, element in enumerate(lst)}

print("Original list:",lst)
print("Dictionary:",my_dict)

Original list: [25, 14, 36, 74, 85, 96]
Dictionary: {25: 0, 14: 1, 36: 2, 74: 3, 85: 4, 96: 5}

In [14]:
#38) Shuffle the elements of a list randomly.

In [17]:
import random 

lst = [25,14,36,74,85,96]

random.shuffle(lst)

print("Shiffled list is :",lst)

Shiffled list is : [36, 85, 14, 25, 96, 74]

In [18]:
#39) Create a list of the first 10 factorial numbers.

In [19]:
# Function to calculate the factorial of a number
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [20]:
#40) Check if two lists have at least one element in common.

In [22]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

common_elements_exist = bool(set(list1) & set(list2))

print("Do the lists have at least one element in common?", common_elements_exist)

Do the lists have at least one element in common? True

In [23]:
#41) Remove all elements from a list.

In [24]:
lst = [25,14,36,74,85,96]

lst.clear()

print("Empty list is",lst)

Empty list is []

In [1]:
#42) Replace negative numbers in a list with 0

In [4]:
lst = [1,-2,3,-7,-8,14,25,36,-6,-36]

for i in range(len(lst)):
    if lst[i]<0:
        lst[i] = 0
        
print(lst)

[1, 0, 3, 0, 0, 14, 25, 36, 0, 0]

In [5]:
#43) Convert a string into a list of words

In [6]:
str = "hello I am Rehaan"

new_lst = [val for val in str.split(" ")]

print(new_lst)

['hello', 'I', 'am', 'Rehaan']

In [7]:
#44) Convert a list of words into a string.

In [10]:
lst = ['hello', 'I', 'am', 'Rehaan']

result = ' '.join(lst)

print(result)

hello I am Rehaan

In [11]:
#45) Create a list of the first `n` powers of 2

In [13]:
n = int(input("Enter value of n:"))

powers = [2**i for i in range(n)]

print("List of the first", n, "powers of 2:", powers)

Enter value of n: 5

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [14]:
#46) Find the longest string in a list of strings.

In [17]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

longest_string = max(string_list, key = len)

print("the longest string from the list is",longest_string)

the longest string from the list is elderberry

In [18]:
#47)  Find the shortest string in a list of strings.

In [19]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

shortest_string = min(string_list, key = len)

print("the shortest string from the list is",shortest_string)

the shortest string from the list is date

In [20]:
#48)  Create a list of the first `n` triangular numbers.

In [22]:
n= int(input("Enter the value of n:"))

triangular_numbers = [(i*(i+1))//2 for i in range(1,n+1)]

print("the first",n,"triangular numbers are", triangular_numbers)

Enter the value of n: 5

the first 5 triangular numbers are [1, 3, 6, 10, 15]

In [23]:
#49) Check if a list contains another list as a subsequence.

In [24]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = [2, 4, 6]

is_subsequence = all(element in list1 for element in list2)
print("Is list2 a subsequence of list1?", is_subsequence)

Is list2 a subsequence of list1? True

In [25]:
#50) Swap two elements in a list by their indices.

In [26]:
my_list = [10, 20, 30, 40, 50]

index1, index2 = 1, 3

my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

print("List after swapping elements at indices", index1, "and", index2, ":", my_list)

List after swapping elements at indices 1 and 3 : [10, 40, 30, 20, 50]

In [ ]:
#TUPLE BASED PRACICE PROBLEM

In [1]:
#1) Create a tuple with integers from 1 to 5

In [5]:
tup = (1,2,3,4,5)

print(tup)

(1, 2, 3, 4, 5)

In [6]:
#2) Access the third element of a tuple

In [7]:
tup = (1,2,3,4,5)

print(tup[2])

3

In [8]:
#3) Find the length of a tuple without using the `len()` function.

In [12]:
tup = (1,2,3,4,5)

count = 0
for i in tup:
    count += 1

#2nd method 
#length = sum(1 for i in tup)
#print(length) 
    
print(count)

5

In [13]:
#4) Count the occurrences of an element in a tuple.

In [18]:
tup = (1,2,3,4,5,5,4,7,8,9,6,3,5,0,5)

n = int(input("Enter whose Occurence find:"))

count_of_n = tup.count(n)

print("The occurence of",n,"is",count_of_n,"times.")

Enter whose Occurence find: 5

The occurence of 5 is 4 times.

In [19]:
#5) Find the index of the first occurrence of an element in a tuple

In [1]:
tup = (1,2,3,4,5,5,4,7,8,9,6,3,5,0,5)

n = int(input("Enter the element:"))

index_of_n = tup.index(n)

print(f"The first index of {n} is : {index_of_n}")

Enter the element: 5

The first index of 5 is : 4

In [2]:
#6) Check if an element exists in a tuple

In [3]:
my_tuple = (10, 20, 30, 40, 50)
n = int(input("Enter the element:"))
print(n in my_tuple)

Enter the element: 30

True

In [5]:
#7) Convert a tuple to a list

In [9]:
my_tuple = (10, 20, 30, 40, 50)

my_list = list(my_tuple)

print(my_list)

[10, 20, 30, 40, 50]

In [8]:
#8) Convert a list to a tuple.

In [10]:
my_list = [10, 20, 30, 40, 50]

my_tuple = tuple(my_list)

print(my_tuple)

(10, 20, 30, 40, 50)

In [11]:
#9) Unpack the elements of a tuple into variables.

In [14]:
my_tuple = (15,12,14)

a,b,c = my_tuple

print(a,b,c)

15 12 14

In [15]:
#10) Create a tuple of even numbers from 1 to 10

In [16]:
even_numbers_tuple = tuple(i for i in range(1, 11) if i % 2 == 0)
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

In [18]:
#11) Create a tuple of odd numbers from 1 to 10.

In [20]:
odd_numbers_tuple = tuple(i for i in range(1,11) if i % 2 != 0)
print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

In [21]:
#12) Concatenate two tuples.

In [22]:
tuple_1 = (15,25,14,74,96,336)
tuple_2 = (36,14,74,69,65)

concat_tuple = tuple_1 + tuple_2

print(concat_tuple)

(15, 25, 14, 74, 96, 336, 36, 14, 74, 69, 65)

In [23]:
#13) Repeat a tuple three times

In [24]:
my_tuple = (1,2,3,4,5)

repeated_tuple = my_tuple*3

print(repeated_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [25]:
#14) Check if a tuple is empty

In [28]:
my_tuple = ()
if not my_tuple:
    print("Tuple is Empty.")
else:
    print("Tuple is not empty.")

Tuple is Empty.

In [29]:
#15) Create a nested tuple.

In [30]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple)

((1, 2), (3, 4), (5, 6))

In [31]:
#16) Access the first element of a nested tuple

In [32]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple[0])

(1, 2)

In [33]:
#17) Create a tuple with a single element.

In [34]:
my_tuple = (25)

print(my_tuple)

25

In [35]:
#18) Compare two tuples.

In [36]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
if tuple1 == tuple2:
    print("Tuples are equal")
else:
    print("Tuples are not Equal")

Tuples are equal

In [37]:
#19) Delete a tuple.

In [38]:
tuple1 = (1, 2, 3)

del tuple1

print(tuple1)

NameError: name 'tuple1' is not defined

In [39]:
#20) Slice a tuple

In [40]:
my_tuple = (10, 20, 30, 40, 50)

sliced = my_tuple[1:4]

print(sliced)

(20, 30, 40)

In [41]:
#21) Find the maximum value in a tuple

In [42]:
my_tuple = (10,20,40,50,60,90,47,85,36)

find_max = max(my_tuple)

print(find_max)

90

In [43]:
#22) Find the minimum value in a tuple.

In [44]:
my_tuple = (10,20,40,50,60,90,47,85,36)

find_min = min(my_tuple)

print(find_min)

10

In [54]:
#23) Convert a string to a tuple of characters.

In [53]:
string = "Data Science"

my_tuple = tuple(string)

print(my_tuple)

('D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')

In [55]:
#24) Convert a tuple of characters to a string.

In [57]:
my_tuple = ('D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')

string = ''.join(my_tuple)

print(string)

Data Science

In [58]:
#25) Create a tuple from multiple data types.

In [59]:
my_tuple = ("Data",12,3.45,True,23+4j)

print(my_tuple)

('Data', 12, 3.45, True, (23+4j))

In [60]:
#26) Check if two tuples are identical.

In [61]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
if tuple1 == tuple2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

In [62]:
#27) Sort the elements of a tuple.

In [63]:
my_tuple = (3, 2, 1, 5, 4)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)

(1, 2, 3, 4, 5)

In [64]:
#28) Convert a tuple of integers to a tuple of strings

In [71]:
my_tuple = (25,14,36,96,74)

string_tuple = tuple(str(i) for i in my_tuple)

print(string_tuple)

('25', '14', '36', '96', '74')

In [68]:
#29) Convert a tuple of strings to a tuple of integers

In [70]:
my_tuple = ('25', '14', '36', '96', '74')

int_tuple = tuple(int(i) for i in my_tuple)

print(int_tuple)

(25, 14, 36, 96, 74)

In [72]:
#30) Merge two tuples

In [73]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [74]:
#31) Flatten a nested tuple.

In [76]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(i for sublist in nested_tuple for i in sublist)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6)

In [77]:
#32)  Create a tuple of the first 5 prime numbers.

In [79]:
prime_numbers = []
count = 0
num = 2

while count < 5:
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers.append(num)
        count += 1
    num += 1
    
print("Tuple of the first 5 prime numbers:", tuple(prime_numbers))

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [86]:
#33) Check if a tuple is a palindrome

In [84]:
my_tuple = (1,2,3,3,2,1)

if my_tuple == my_tuple[::-1]:
    print("Tuple is Palindrome.")
else:
    print("Tuple is not Palindrome.")

Tuple is Palindrome.

In [85]:
#34) Create a tuple of squares of numbers from 1 to 5.

In [88]:
my_tuple = tuple(i**2 for i in range(1,6))

print(my_tuple)

(1, 4, 9, 16, 25)

In [89]:
#35)  Filter out all even numbers from a tuple.

In [91]:
my_tuple = (1, 2, 3, 4, 5)
filtered_tuple = tuple(filter(lambda x: x % 2 == 0, my_tuple))
print(filtered_tuple)

(2, 4)

In [92]:
#36) Multiply all elements in a tuple by 2

In [94]:
my_tuple = (25,14,36,74)

new_tuple = tuple(i*2 for i in my_tuple)

print(new_tuple)

(50, 28, 72, 148)

In [95]:
#37) Create a tuple of random numbers

In [97]:
import random 

find_tuple = tuple(random.sample(range(1,100),5))

print(find_tuple)

(85, 99, 79, 10, 12)

In [98]:
#38) Check if a tuple is sorted

In [99]:
def is_sorted(t):
    return all(t[i] <= t[i + 1] for i in range(len(t) - 1))


my_tuple = (1, 2, 3, 4, 5)
print(is_sorted(my_tuple))

True

In [101]:
#39) Rotate a tuple to the left by `n` positions.

In [103]:
def rotate_left(t, n):
    return t[n:] + t[:n]

#main program
my_tuple = (1, 2, 3, 4, 5)
print(rotate_left(my_tuple, 2))

(3, 4, 5, 1, 2)

In [104]:
#40) Rotate a tuple to the right by `n` positions

In [105]:
def rotate_right(t, n):
    return t[-n:] + t[:-n]

# Example usage
my_tuple = (1, 2, 3, 4, 5)
print(rotate_right(my_tuple, 2))

(4, 5, 1, 2, 3)

In [106]:
#41) Create a tuple of the first 5 Fibonacci numbers

In [108]:
def fibonacci_tuple(n):
    a, b = 0, 1
    result = []
    for _ in range(n):
        result.append(a)
        a, b = b, a + b
    return tuple(result)

print(fibonacci_tuple(5))

(0, 1, 1, 2, 3)

In [109]:
#42) Create a tuple from user input.

In [110]:
user_input = input("Enter elements separated by spaces: ")
user_tuple = tuple(map(int, user_input.split()))
print(user_tuple)

Enter elements separated by spaces:  25 14 25 36 74 69

(25, 14, 25, 36, 74, 69)

In [111]:
#43) Swap two elements in a tuple.

In [112]:
def swap_elements(t, i, j):
    t_list = list(t)
    t_list[i], t_list[j] = t_list[j], t_list[i]
    return tuple(t_list)

# Example usage
my_tuple = (1, 2, 3, 4, 5)
print(swap_elements(my_tuple, 1, 3))

(1, 4, 3, 2, 5)

In [113]:
#44) Reverse the elements of a tuple

In [114]:
my_tuple = (1, 4, 3, 2, 5)

print(my_tuple[::-1])

(5, 2, 3, 4, 1)

In [115]:
#45) Create a tuple of the first `n` powers of 2

In [117]:
def powers_of_2_tuple(n):
    return tuple(2 ** i for i in range(n))

# Example usage
print(powers_of_2_tuple(10))

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [118]:
#46) Find the longest string in a tuple of strings.

In [119]:
my_tuple = ('apple', 'banana', 'cherry', 'date', 'elderberry')

longest_string = max(my_tuple, key=len)

print("Tuple of Strings:", my_tuple)
print("Longest String:", longest_string)

Tuple of Strings: ('apple', 'banana', 'cherry', 'date', 'elderberry')
Longest String: elderberry

In [120]:
#47) Find the shortest string in a tuple of strings.

In [121]:
my_tuple = ('apple', 'banana', 'cherry', 'date', 'elderberry')
shortest_string = min(my_tuple, key=len)
print("Tuple of Strings:", my_tuple)
print("Shortest String:", shortest_string)

Tuple of Strings: ('apple', 'banana', 'cherry', 'date', 'elderberry')
Shortest String: date

In [122]:
#48) Create a tuple of the first `n` triangular numbers.

In [123]:
n = 5

triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]

print("Tuple of the first", n, "triangular numbers:", tuple(triangular_numbers))

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [124]:
#49) Check if a tuple contains another tuple as a subsequence

In [125]:
tuple1 = (1, 2, 3, 4, 5, 6)
tuple2 = (2, 4, 6)

is_subsequence = all(element in tuple1 for element in tuple2)
print("Is tuple2 a subsequence of tuple1?", is_subsequence)

Is tuple2 a subsequence of tuple1? True

In [126]:
#50) Create a tuple of alternating 1s and 0s of length `n`.

In [127]:
n = 8
alternating_tuple = tuple((i % 2) for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1)

In [128]:
#SET BASED PRACTICE PROBLEM

In [129]:
#1) Create a set with integers from 1 to 5.

In [131]:
my_set = {1,2,3,4,5}

print(my_set,type(my_set))

{1, 2, 3, 4, 5} <class 'set'>

In [132]:
#2) Add an element to a set.

In [133]:
my_set = {1,2,3,4,5}

n = int(input("Enter the element:"))

my_set.add(n)

print(my_set)

Enter the element: 8

{1, 2, 3, 4, 5, 8}

In [134]:
#3) Remove an element from a set

In [135]:
my_set = {1,2,3,4,5}

n = int(input("Enter the element:"))

my_set.remove(n)

print(my_set)

Enter the element: 5

{1, 2, 3, 4}

In [136]:
#4) Check if an element exists in a set.

In [139]:
my_set = {1, 2, 3, 4, 5, 8}

n = int(input("Enter the element:"))

if n in my_set:
    print("Element Exists.")
else:
    print("Element doesn't Exist")

Enter the element: 4

Element Exists.

In [141]:
#5) Find the length of a set without using the `len()` function

In [144]:
my_set = {1, 2, 3, 4, 5, 8}

length = 0
for i in my_set:
    length += 1
    
print(length)

6

In [145]:
#6) Clear all elements from a set.

In [146]:
my_set = {1, 2, 3, 4, 5, 8}

my_set.clear()

print(my_set)

set()

In [147]:
#7) Create a set of even numbers from 1 to 10.

In [149]:
my_set = {i for i in range(1,11) if i%2==0}

print(my_set)

{2, 4, 6, 8, 10}

In [150]:
#8) Create a set of odd numbers from 1 to 10.

In [151]:
my_set = {i for i in range(1,11) if i%2!=0}

print(my_set)

{1, 3, 5, 7, 9}

In [1]:
#9) Find the union of two sets.

In [2]:
set1 = {1,2,3}
set2 = {3,4,5}
set_union = set1.union(set2)

print(set_union)

{1, 2, 3, 4, 5}

In [3]:
#10)  Find the intersection of two sets.

In [4]:
set1 = {1,2,3}
set2 = {3,4,5}
set_intersection = set1.intersection(set2)

print(set_intersection)

{3}

In [5]:
#11)  Find the difference between two sets.

In [6]:
set1 = {1,2,3}
set2 = {3,4,5}
set_diff = set1.difference(set2)

print(set_diff)

{1, 2}

In [7]:
#12) Check if a set is a subset of another set.

In [10]:
set1 = {14,25,47,36,1,2,3}
set2 = {1,2,3}

subset =  set2.issubset(set1)
print(subset)

True

In [12]:
#13)  Check if a set is a superset of another set.

In [13]:
set1 = {14,25,47,36,1,2,3}
set2 = {1,2,3}

set_check =  set2.issuperset(set1)
print(set_check)

False

In [14]:
#14) Create a set from a list.

In [17]:
given_lst = [14,25,36,47,25,69,47,82,25,14]

print(set(given_lst))

{36, 69, 14, 47, 82, 25}

In [18]:
#15) Convert a set to a list.

In [20]:
given_set = {25,14,36,14,95,74}

lst = list(given_set)

print(lst)

[36, 25, 74, 14, 95]

In [21]:
#16) Remove a random element from a set

In [25]:
given_set = {25,14,36,14,95,74}

remove = given_set.pop()

print("Removed Element:",remove)
print("After removing the Set is:",given_set)

Removed Element: 36
After removing the Set is: {25, 74, 14, 95}

In [26]:
#17) Pop an element from a set.

In [28]:
my_set = {1,2,3,4,5,}

my_set.pop()

1

In [29]:
#18) Check if two sets have no elements in common

In [30]:
set1 = {1,2,3}
set1 = {4,5,6}

no_common = set1.isdisjoint(set2)

print(no_common)

True

In [31]:
#19) Find the symmetric difference between two sets

In [32]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)

{1, 2, 4, 5}

In [33]:
#20) Update a set with elements from another set.

In [34]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.update(set2)

print(set1)
print(set2)

{1, 2, 3, 4, 5}
{3, 4, 5}

In [1]:
#21) Create a set of the first 5 prime numbers

In [4]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

set_primes = {x for x in range(2, 100) if is_prime(x)}
set_first_five_primes = set(list(set_primes)[:5])
print(set_first_five_primes)

{2, 3, 5, 7, 11}

In [5]:
#22) Check if two sets are identical

In [7]:
set1 = {1,2,3}
set2 = {1,2,3}
if set1 == set2:
    print("Sets are Identical.")
else:
    print("Sets are not Identical.")

Sets are Identical.

In [8]:
#23) Create a frozen set.

In [9]:
frozen_set = frozenset([1,2,3,4,5])

print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [10]:
#24) Check if a set is disjoint with another set.

In [13]:
set1 = {1,2,3}
set2 = {4,5,6}
find_set = set1.isdisjoint(set2)

print(find_set)

True

In [14]:
#25) Create a set of squares of numbers from 1 to 5

In [15]:
my_set = {i**2 for i in range(1,6)}
print(my_set)

{1, 4, 9, 16, 25}

In [16]:
#26)Filter out all even numbers from a set

In [18]:
my_set = {1,2,3,4,5,6}

set_filter = { x for x in my_set if x%2== 0}

print(set_filter)

{2, 4, 6}

In [19]:
#27) Multiply all elements in a set by 2.

In [21]:
my_set = {1,2,3,4,5,6}

multiply_set = {x*2 for x in my_set}

print(multiply_set)

{2, 4, 6, 8, 10, 12}

In [22]:
#28) Create a set of random numbers.

In [29]:
import random

set_random = {random.randint(1, 50) for _ in range(10)}

print(set_random)

{32, 4, 40, 10, 13, 49, 18, 22, 23}

In [30]:
#29) Check if a set is empty.

In [36]:
my_set = set()

set_empty = not bool(my_set)

print("Is the set empty?",set_empty)

Is the set empty? True

In [37]:
#30) Create a nested set (hint: use frozenset).

In [38]:
nested_set = {frozenset([1, 2, 3]), frozenset([4, 5, 6])}

print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6})}

In [39]:
#31) Remove an element from a set using the discard method

In [40]:
my_set = {12,13,14,15,16,17,18,19}

n = int(input("Enter the value you want to discard:"))

my_set.discard(n)

print(my_set)

Enter the value you want to discard: 17

{12, 13, 14, 15, 16, 18, 19}

In [41]:
#32) Compare two sets

In [42]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
compare_sets = set1 == set2

print(compare_sets)

False

In [43]:
#33) Create a set from a string

In [44]:
string_to_set = set('hello')
print(string_to_set)

{'o', 'h', 'l', 'e'}

In [45]:
#34) Convert a set of strings to a set of integers.

In [46]:
set_strings = {'1', '2', '3'}
set_integers = {int(x) for x in set_strings}
print(set_integers)

{1, 2, 3}

In [47]:
#35) Convert a set of integers to a set of strings.

In [48]:
set_integers = {1, 2, 3}
set_strings = {str(x) for x in set_integers}

print(set_strings)

{'3', '2', '1'}

In [49]:
#36) Create a set from a tuple.

In [50]:
tuple_to_set = set((1, 2, 3))

print(tuple_to_set)

{1, 2, 3}

In [51]:
#37) Convert a set to a tuple.

In [54]:
my_set = {1,2,3}

ste_to_tuple = tuple(my_set)

print(ste_to_tuple)

(1, 2, 3)

In [55]:
#38) Find the maximum value in a set.

In [56]:
set_max = {1, 2, 3, 4, 5}
set_max = max(set_max)
print(set_max)

5

In [57]:
#39) Find the minimum value in a set.

In [58]:
set_min = {1, 2, 3, 4, 5}
set_min = min(set_min)
print(set_min)

1

In [59]:
#40) Create a set from user input

In [60]:
set_input = set(input("Enter a set of numbers separated by commas: ").split(','))

print(set_input)

Enter a set of numbers separated by commas:  25,36,14,4,85,25,36

{'4', '36', '85', '25', '14'}

In [61]:
#41) Check if the intersection of two sets is empty

In [62]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
intersection_check = not bool(set1.intersection(set2))
print(intersection_check)

True

In [63]:
#42)Create a set of the first 5 Fibonacci numbers.

In [66]:
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1

    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b

    return fibonacci_set

n = 5
fibonacci_set = generate_fibonacci(n)

print("Set of the first", n, "Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [67]:
#43) Remove duplicates from a list using set

In [68]:
list_duplicates = [1, 2, 3, 2, 1, 4, 5, 4]
list_duplicates = list(set(list_duplicates))

print(list_duplicates)

[1, 2, 3, 4, 5]

In [69]:
#44) Check if two sets have the same elements, regardless of their count.

In [70]:
set1 = {1, 2, 3}
set2 = {3, 2, 1, 1, 2, 3}
same_elements_check = set1 == set2
print(same_elements_check)

True

In [72]:
#45) Create a set of the first `n` powers of 2

In [73]:
set_powers = {2 ** x for x in range(5)}

print(set_powers)

{1, 2, 4, 8, 16}

In [74]:
#46)  Find the common elements between a set and a list

In [75]:
set1 = {1, 2, 3}
list1 = [3, 4, 5]
common_elements = set1.intersection(set(list1))

print(common_elements)

{3}

In [76]:
#47) Create a set of the first `n` triangular numbers

In [77]:
set_triangular = {int((x * (x + 1)) / 2) for x in range(5)}

print(set_triangular)

{0, 1, 3, 6, 10}

In [78]:
#48) Check if a set contains another set as a subset.

In [79]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 4}
subset_check = set2.issubset(set1)

print(subset_check)

True

In [81]:
#49) Create a set of alternating 1s and 0s of length `n`.n =5

In [82]:
n = 5
set_alternating = {1 if x % 2 == 0 else 0 for x in range(n)}
print(set_alternating)

{0, 1}

In [83]:
#50) Merge multiple sets into one.

In [84]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}